* {
    box-sizing: border-box;
}

html, body, .main3 {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

div:focus {
    outline-style: none;
}

/* font rules */

@font-face {
    font-family: "Tesco";
    src: url("/assets/app/core/fonts/Tesco/tescorg.eot");
    src: local("☺︎"), url("/assets/app/core/fonts/Tesco/tescorg.eot?#iefix") format("embedded-opentype"), url("/assets/app/core/fonts/Tesco/tescorg.woff") format("woff"), url("/assets/app/core/fonts/Tesco/tescorg.ttf") format("truetype"), url("/assets/app/core/fonts/Tesco/tescorg.svg#tescoregular") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Tesco";
    src: url("/assets/app/core/fonts/Tesco/tescobd.eot");
    src: local("☺︎"), url("/assets/app/core/fonts/Tesco/tescobd.eot?#iefix") format("embedded-opentype"), url("/assets/app/core/fonts/Tesco/tescobd.woff") format("woff"), url("/assets/app/core/fonts/Tesco/tescobd.ttf") format("truetype"), url("/assets/app/core/fonts/Tesco/tescobd.svg#tescobold") format("svg");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/app/core/fonts/Roboto-Light/roboto-light.eot");
    src: local("☺︎"), url("/assets/app/core/fonts/Roboto-Light/roboto-light.eot?#iefix") format("embedded-opentype"), url("/assets/app/core/fonts/Roboto-Light/roboto-light.woff") format("woff"), url("/assets/app/core/fonts/Roboto-Light/roboto-light.ttf") format("truetype"), url("/assets/app/core/fonts/Roboto-Light/roboto-light.svg#RobotoLight") format("svg");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/app/core/fonts/Roboto-Medium/roboto-medium.eot#iefix");
    src: local("☺︎"), url("/assets/app/core/fonts/Roboto-Medium/roboto-medium.eot#iefix") format("embedded-opentype"), url("/assets/app/core/fonts/Roboto-Medium/roboto-medium.woff") format("woff"), url("/assets/app/core/fonts/Roboto-Medium/roboto-medium.ttf") format("truetype"), url("/assets/app/core/fonts/Roboto-Medium/roboto-medium.svg#RobotoLight") format("svg");
    font-weight: 700;
}

body, .main3 {
    color: #656565;
    font-family: 'Roboto man', sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: 'Tesco', sans-serif;
    letter-spacing: 0;
    font-weight: bold;
    line-height: 1.0;
    margin: 0;
}

h1,
h2 {
    font-size: 2.0em;
    color: #1c315f;
}

p {
    color: #1c315f;
    font-size: 1.3em;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

a {
    color: #1c315f;
    text-decoration: none;
    font-weight:bold;
}

/* specific rules */
#main-image3 {
    height: 55%;
    max-height: 100%;
}

#footer3 {
    height: 5%;
}

#space3 {
    height: 10%;
}

#text-p3 {
    height: 28%;
    width: 100%;
    display: table;
    color: #1c315f;
    padding: 5% 0;
}

#text-h13 {
    height: 17%;
    text-align: center;
    width: 100%;
    padding-bottom: 5%;
}

.swipe-container {
    height: 78%;
}

.swipe-element {
    height: 100%;
}

.container3 {
    margin: 0 auto;
    padding: 0% 10%;
    width: 100%;
    height: 100%;
}

.container-inner3 {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-image3 {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.footer3 {
    max-width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.bgr-color3 {
    background-color: #ffffff;
}

.slick-list {
    height: 100%;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: #1c315f;
    font-size: 24px;
}

.slick-track {
    height: 100%;
}

.slick-dots {
    position: relative;
    bottom: 0;
}

.slick-dots li {
    margin: 0 10px;
}

.portfolio {
    width:40vw;
    height: 75vw;
    text-align: center;
    border: 1px solid grey;
    margin: 5% auto;
}

@media screen and (max-width:550px) {
    .portfolio {
       width:80vw;
       height: 150vw;
    }
  }
		